

<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Hate Speech Detection</title>

	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">


	<style>
		textarea::placeholder { /* Chrome/Opera/Safari */
		text-align: center;
		font-size: 18px;
		}

		form{
			margin-top: 4rem;
		}

		.submit-btn{
			width: 250px;
			height: 50px;
			border-radius: 25px;
			font-size: 25px;
		}

		.submit-btn:hover{
			background-color: rgb(4, 88, 16);
		}

		body{
			
			background: url("/static/patt.png") no-repeat;
			background-position: left;
		}
	</style>
</head>
  <body>
    <div class="container-fluid">
      <div class="clearfix">
        <div class="float-left">hello</div>
        <div class="float-right">
			<div class="buttons">
				<a href="" class="btn btn-transparent">How To Use</a>
			</div>
		</div>
	  </div>
	  
	  <div class="row justify-content-center">
		<div class="col-lg-4">
			<h1 style="font-family: 'Lato', sans-serif;
											font-size: 3rem;
											line-height: 1.875;">
				Hate Speech Detection</h1>
				<div class="text-wrap font-weight-normal text-center" style="max-width: 30rem; font-size: 1.2rem;">
					Hate speech detection tools  detects abusive words, and contents which promotes violence.</div>
		</div>
	  </div>

		  
		<div class="row justify-content-center">
			<div class="col-lg-6">
				

						
					<form action="{{url_for('predict')}}" method="POST" class="needs-validation form" novalidate>
						
						<textarea name="comment" class="form-control custom-control" rows="8" cols="30" style="resize:none" placeholder="Enter text for prediction" required>{{user_comment}}</textarea>
						<div class="invalid-feedback text-center">
							Field cannot be empty, Please enter text and click predict button.
						</div>
					
						<br />

						
						<div class="text-center">
								<button type="submit" class="btn btn-success submit-btn" >Predict</button>
						</div>
						
					</form>
				
					
				
				
			</div>
		</div>

	
	</div>
	
	
	
    

    

    {% if prediction == 1%}
    <h2>Your Comment</h2>
    {{user_comment}}
    <h2>Hate Speech Detected</h2>
    {% elif prediction == 0%}
    <h2>Your Comment</h2>
    {{user_comment}}
    <h2>Not Hate Speech</h2>
    {% endif %}
  




	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
	</body>
	
	</html><!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>


		<script>
			// Example starter JavaScript for disabling form submissions if there are invalid fields
			(function () {
				'use strict';
				window.addEventListener('load', function () {
					// Fetch all the forms we want to apply custom Bootstrap validation styles to
					var forms = document.getElementsByClassName('needs-validation');
					// Loop over them and prevent submission
					var validation = Array.prototype.filter.call(forms, function (form) {
						form.addEventListener('submit', function (event) {
							if (form.checkValidity() === false) {
								event.preventDefault();
								event.stopPropagation();
							}
							form.classList.add('was-validated');
						}, false);
					});
				}, false);
			})();



			$(document).ready(function () {
				// executes when HTML-Document is loaded and DOM is ready
				console.log("document is ready");


				$(".form").hover(
					function () {
						$(this).addClass('shadow-sm').css('cursor', 'pointer');
					}, function () {
						$(this).removeClass('shadow-sm');
					}
				);

				// document ready  
			});
		</script>
	</body>
	
	</html>


